.App {
  background-color: rgba(255, 255, 255, 0.816);
  top: 20%;
  left: 29%;
  position: absolute;
  margin: -125px 0 0 -125px;
  padding: 0%;
  overflow: hidden;
}


.App-header {
  width: 500px;
  height: 500px;
  position: relative;
}

.App-footer {
  background-color: rgb(217, 217, 217);
  width: 900px;
  height: 150px;
  position: relative;
  overflow: hidden;
}

body {
  background-color: rgb(231, 231, 231);
} 

input {
  padding: 10px;
  margin: 10px;
  display: flex;
  width: 300px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(180, 245, 1);
}

h2 {
  padding: 10px;
  margin: 20px;
  text-size-adjust: 80%;
}

.Message {
  height: 100px;
}

button {
  position: absolute;
  padding: 17px;
  margin: 10px;
  display: flex;
  width: 150px;
  height: 50px;
  background-color: yellow;
  border-color: gold;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px; 
  z-index: 6;
}

.buttonSend {
  z-index: 6;
}

form {
  margin-top: 10%;
  margin-left: 5%;
  z-index: 8;
  
}

.Map {
  width: 490px;
  height: 553px;
  left: 480px;
  bottom: 355px;
  border-radius: 600px;
  position: relative;
  z-index: 2;
}

.PinkSmileHead {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 410px;
  top: 290px;
  background: #F472B7;
  border-radius: 100px;
  z-index: 3;
  }

  .SmileHead {
    position: absolute;
    left: 89%;
    top: 350px;
    z-index: 3;
  }

  .EyeHead-1 {
    position: absolute;
    left: 86%;
    top: 350px;
    z-index: 3;
  }

  .EyeHead-2 {
    position: absolute;
    left: 89%;
    top: 335px;
    z-index: 3;
  }

  .YellowFace {
    position: absolute;
    left: 76%;
    top: 190px;
    z-index: 4;
  }

  .YellowFace:active {
    z-index: -1;
  }

  .GreenFace {
    position: absolute;
    left: 76%;
    top: 190px;
    z-index: 3;
  }

  .YellowSmile {
    position: absolute;
    left: 89%;
    top: 290px;
    z-index: 4;
  }

  .YellowEye-1 {
    position: absolute;
    left: 88%;
    top: 270px;
    z-index: 4;
  }

  .YellowEye-2 {
    position: absolute;
    left: 93%;
    top: 270px;
    z-index: 4;
  }

  .cloud-1 {
    position: absolute;
    left: 75%;
    top: -40px;
    z-index: 1;
  }

  .cloud-2 {
    position: absolute;
    left: 20%;
    top: 60%;
    z-index: 0;
  }

  .Drop-1 {
    position: absolute;
    left: 30%;
    top: 60%;
    animation-name: drop;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  .Drop-2 {
    position: absolute;
    left: 40%;
    top: 60%;
    animation-name: drop2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .Drop-3 {
    position: absolute;
    left: 50%;
    top: 40%;
    animation-name: drop;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }


  @keyframes drop {
    0%{
      top: 90%;
      opacity: 0;
    }
    100%{
      top: 120%;
    }
  }

  @keyframes drop2 {
    0%{
      top: 89%;
      opacity: 0;
    }
    100%{
      top: 120%;
    }
  }

.light {
  position: absolute;
    left: 90%;
    top: 120px;
    width: 40px;
    animation-name: light;
    animation-duration: 10s;
    animation-iteration-count: infinite;
} 
 
@keyframes light {
  0%{
    opacity: 1;
  }
  20%{
    opacity: 1;
  }
  40%{
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }

}
 