.PinkSmile {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 20px;
    top: 5px;
    background: #F472B7;
    border-radius: 100px;
    }
    
    .Smile {
    position: absolute;
    left: 5.6%;
    right: 30.79%;
    top: 42%;
    }
    
    .Eye-1 {
      position: absolute;
    left: 6%;
    right: 30.79%;
    top: 30%;
    }
    
    .Eye-2 {
      position: absolute;
    left: 4%;
    right: 30.79%;
    top: 40%;
    }
    
    .GreenSmile {
      position: absolute;
      left: 75%;
      
    }
    
    .SmileForGreen {
      position: absolute;
      left: 77.8%;
      top: 30%;
    }
    
    .GreenEye-1 {
      position: absolute;
      left: 77.6%;
      top: 42%;
    }
    
    .GreenEye-2 {
      position: absolute;
      left: 79.2%;
      top: 42%;
    }
    
    .link {
      margin-top: 5%;
      margin-left: 25%;
    }
    
    .facebook {
      width: 8.36px;
      height: 16.09px;
      padding: 10px 15px 5px 5px;
    }
    
    .linkidin {
      padding: 10px 15px 5px 3px;
      width: 12.87px;
      height: 12.95px;
    }
    
    .twitter {
      width: 16.09px;
      height: 12.87px;
      padding: 10px 15px 4.3px 3px;
    }
    
    .pinterest {
      padding: 10px 15px 3px 1.4px;
      width: 12.23px;
      height: 14.8px;
    }
